<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
  <% for (const produto of produtos) { %>
    <h1>picolo</h1>
    <% } %>


  <div class="p-3 mb-2 bg-dark text-white">
    <div class="container text-center">
      <h1>Bonecos de ação</h1>
      <br>
      <div class="row align-items-start">
         <div class="col">
          <img src="https://ironstudios.vteximg.com.br/arquivos/ids/332714-1000-1000/229066_0.jpg?v=638167792429100000" class="rounded-0" alt="..." height="650" width="550">
          <br>
          <a href="produtos">Figura Iron Man Diecast Origins - Marvel - Sixth Scale - Hot Toys</a>
          <br>
          R$4.499,00
          <br>
          <br>
    </button>
          <br>
        </div>
        <br>
        <br>
        <div class="col">
          <img src="https://ironstudios.vteximg.com.br/arquivos/ids/337819-1000-1000/267006_0.jpg?v=638253055725170000" class="rounded-0" alt="..." height="650" width="550">
          <br>
          <a href="produtos">Estátua The Flash - DC Comics - Maquette 1/6 - Tweeterhead</a>
        <br>
          R$4.999,0
          <br>
        <br>
    </button>
          <br>
        </div>
        <br>
        <br>
        <div class="col">
          <img src="https://ironstudios.vteximg.com.br/arquivos/ids/335279-1000-1000/253000_0.jpg?v=638203648123400000" class="rounded-0" alt="..." height="650" width="550">
          <br>
          <a href="produtos">Estátua Wonder Woman Museum Line - DC Comics - 1/4 Scale - Queen Studios</a>
          <br>
          R$4.999,00
          <br>
          <br>
    </button>

        </div>
      </div>


</body>
</html>