<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
<h1>Super poderosas</h1>

<div class="row align-items-start">
 

   <div class="col">
    <img  src= "/<%= produto.imagem %>" class="rounded-0" alt="..." height="450" width="400">
    <br>
    <h3><%= produto.nome %></h3>
    <br>
    <a>R$ <%= produto.preco %></a>
    <br>

    <br>



</body>
</html>