<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
<h1>Super poderosas</h1>

<div class="row align-items-start">
  <div class="col">
    <img src="https://ironstudios.vteximg.com.br/arquivos/ids/338200-1000-1000/201013_2.jpg?v=638264161481700000" class="rounded-0" alt="..." height="650" width="550">
      <br>
        Estátua Supergirl - DC Comics - 1/6 Scale - XM Studios
         <br>
      R$8.599,00
     <br>
     <h3>Estátua Supergirl</h3>
<h4>Estátua Supergirl - DC Comics - 1/6 Scale - XM Studios</h4>
Quando Krypton estava para explodir, o pai de Kara, Zor-El, ajustou a espaçonave da filha para seguir a espaçonave do seu primo Kal-El. Kara era uma criança crescida, enquanto Kal-El era apenas um bebê recém-nascido. Durante a viagem pelo espaço, Kara sua nave mudou de rota devido a um erro no sistema que a levou a ficar presa em um buraco de minhoca por 12 anos, e quando chegou a terra ainda era uma criança e seu primo ja tinha crescido.  
   <br>
   <br>
   <br>

   <div class="col">
    <img src="https://ironstudios.vteximg.com.br/arquivos/ids/335279-1000-1000/253000_0.jpg?v=638203648123400000" class="rounded-0" alt="..." height="450" width="400">
    <br>
    <a>Estátua Wonder Woman Museum Line - DC Comics - 1/4 Scale - Queen Studios</a>
    <br>
    R$4.999,00
    <br>
    <h3>Estátua Wonder Woman Museum Line</h3>
<h4>Estátua Wonder Woman Museum Line - DC Comics - 1/4 Scale - Queen Studios</h4>
Um dos maiores ícones da nona arte e cultura pop, Wonder Woman é filha da Rainha Hipólita e Zeus, o rei dos Deuses Antigos, nascida Diana, ela cresceu em Themyscira, a Ilha Paraíso criada por Zeus para servir de lar e santuário para as Amazonas, protegida do mundo exterior por uma barreira mística. Ouvindo histórias da grande tarefa das Amazonas de derrotar o corrupto Deus da Guerra, Ares, a princesa Diana treinou e se preparou desde sua infância para ser uma guerreira apesar das objeções de sua mãe. Já adulta, conheceu o capitão Steve Trevor durante a Primeira Guerra Mundial. Convencida da interferência de Ares no conflito, ela se uniu a Trevor partindo para o chamado "mundo dos homens" para promover e defender a paz e a justiça. 
    <br>



</body>
</html>