body{
    color: rgb(0, 0, 0);
}

div1{
display: flex;
justify-content: center;

}



.produtos{
    display: flex;
    justify-content: space-around;
}

div{
    text-align: center;
    align-items: center;
}

h1{
   font-size: 50px;
    text-align: center;
}

a{
    color: #000;
}

